@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Custom scrollbar styles */
    .scrollbar-thin::-webkit-scrollbar {
      width: 8px; /* Width of the scrollbar */
      height: 8px; /* Height of the scrollbar for horizontal scroll */
    }
  
    .scrollbar-thin::-webkit-scrollbar-thumb {
      background-color: #4b5563; /* Color of the scrollbar thumb */
      border-radius: 4px; /* Rounded corners for the scrollbar thumb */
    }
  
    .scrollbar-thin::-webkit-scrollbar-thumb:hover {
      background-color: #6b7280; /* Color on hover */
    }
  
    .scrollbar-thin::-webkit-scrollbar-track {
      background-color: #f9fafb; /* Background color of the scrollbar track */
      border-radius: 4px; /* Rounded corners for the scrollbar track */
    }
  }